@import '../mixins.scss';
@import '../variables.scss';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  @include flex-row-all-center;

  box-shadow: 0 3px 5px -2px gray;;

  &__title {
    font-size: 2rem;
    font-weight: 700;
  }

  &__info {
    position: absolute;
    right: 0;
  }
}
